dist: trusty
language: perl6

perl6:
  - latest
  - "2017.10"
  - "2018.01"

install:
  - rakudobrew build-zef
  - zef --debug --depsonly install .

script:
  - PERL6LIB=lib prove -v -r --exec=perl6 t/ it/
